html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
.app-container {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
  height: 100%;
}
